<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user" method="post" >
        <label>Enter your name</label>
        <input type="text" name="name" placeholder="name">
        <label>Enter your email</label>
        <input type="email" name="email" placeholder="enter Email">
        <label>Enter your password</label>
        <input type="password" name="password" placeholder="password">
        <button type="submit">signup</button>
    </form>
</body>
</html>